
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization;
@model MyProject.Models.UserRegisterData

    <div class="text-center body-bg">
        <div class="view-header">
            <div class="header-icon">
            </div>
            <div class="header-title">
                <h1>Sign Up</h1>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">

                @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @id = "RegisterForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            placeholder = "...",
                            title = "Introduceti numele de utilizator",
                            value = "",
                            name = "nume",
                            id = "nume",
                            @class = "form-control",
                            type = "username"
                        })
                        <span class="help-block small">Your unique username to app</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new
                        {
                            placeholder = "...",
                            title = "Introduceti email-ul",
                            value = "",
                            name = "email",
                            id = "email",
                            type = "email",
                            @class = "form-control"
                        })
                        <span class="help-block small">Your strong password</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Password, new
                        {
                            placeholder = "...",
                            title = "Introduceti parola",
                            value = "*",
                            name = "parola",
                            id = "parola",
                            @class = "form-control",
                            type = "password"
                        })
                        <span class="help-block small">Your strong password</span>
                    </div>

                    <div style="text-align:center">
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                        <a class="btn btn btn-outline-dark" href="Login">Logare</a>
                        <a class="btn btn btn-outline-dark" href="Home">Home</a>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            var form = $('RegisterForm')
                .removeData("validator")
                .removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse(form);
        });
    </script>
}
